*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: yellow;
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: #ddd;
    overflow: hidden;
}

#game{
    display: none;
}

.circle{
    background-color: red;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: none;
    font-weight: bold;
    position: absolute;
    text-align: center;
}
#circle-1{
    display: block;
}

#seconds-bar{
    position: absolute;
    background-color: green;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
    z-index: 999;
}